<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
<h1>{{ page_title }}</h1>

<ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>
</body>
</html>